# Python
__pycache__/
*.py[cod]
*.pyo



node_modules/
dist/
.vscode/
.env
.DS_Store

# Virtual Environment
.venv/
env/
venv/

# Editor/IDE specific
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Alembic cache
alembic/versions/

# Log files
*.log

# Sensitive configs
*.env
